/* header style */

h3 {
    color: black ;
    background-color: bisque;
    border: solid brown;
    text-align: center;
    padding-top: 100px;
    border-top-left-radius: 50%;
    width: 500px;
    height: 500px;
}